
main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-top: 20px;
}

.main__content {
    max-width: 603px;
    margin-right: 60px;
}


.main__content h1 {
    font-weight: 600;
    font-size: 55px;
    margin: 0px;
}

.main__content p {
    font-size: 25px;
    opacity: 0.5;
    margin-bottom: 60px;
    max-width: 519px;
}

.main__top-button {
    display: inline-block;
    background: rgba(255, 255, 255, 0.25);
    color: white;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}


.main__bottom-button {
    color: #FEFEFE;
    height: 91px;
    width: 263px;
    border-radius: 27px;
    font-weight: 600;
    font-size: 25px;
    line-height: 37.5px;
}

.main__image img {
    width: 400px;
    margin-left: 60px;
}
