.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer__avatar-pic {
    border-radius: 50%;
    position: relative;
    margin-left: -25px;
    z-index: 1;
    border: 1px solid #ffffff;
    width: 38px;
    height: 38px;
}

.footer__avatars {
    direction: rtl;
    text-align: left;
    padding-left: 25px;  
    max-height: 40px;
}

.footer__additional-users {
    font-size: 14px;
    font-weight: 400;
    color: #55595E;
}

.footer__actions {
    display: flex;
    margin-left: auto;
    gap: 4px;
}

.footer__icon-button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}