
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
}

.header img {
    width: 48px;
    height: 48px;
    border-radius: 12px;
}

.header .title {
    font-size: 18px;
    color: #1F1F1F;
}

.header .icon-button {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
