@import url("header.css");
@import url("main.css");
@import url("footer.css");
@import url("normalize.css");

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    width: 360px;
    height: fit-content;
    border-radius: 16px;
    border: 1px solid #D7D9DB;
}

body > div {
    gap: 16px;
    padding: 16px;
}
  
img {
    object-fit: cover;
}